#mobile-menu {
    display: block;
    position: fixed;
    right: 2vw;
    top: 0;
    font-size: 4rem;
    color: white;
    z-index: 2;
}

nav {
    display: none;
    right: 2vw;
    top: 4rem;
    font-size: 3em;
    align-items: center;
}

#mobile-menu:target ~ nav {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.teaser {
    flex-direction: column;
    min-height: 50vh;
    box-sizing: border-box;
}

#home {
    width: 100%;
    margin-bottom: 2em;
}

